button.ref {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

table {
    border-spacing: 10px 2px;
}

caption {
    font-weight: bold;
    margin-left: 12px;
    font-size: large;
}

th, caption {
    text-align: left;
}